body {
    padding-left: 50px;
    padding-top: 25px;
    padding-right: 25px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

hr {
    height: 1px;
    background-color: #2c3e50;
    width: 100%;
}

form {
    margin: 0;
    padding: 0;
    display: block;
}

label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a;
}

input {
    font-size: 100%;
    line-height: 1.15;
}

input[type='password'],
input[type='text'],
input[type='email'],
input[type='number'],
select {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: #0a0a0a;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn {
    background-color: #dc3133;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #a52222;
    text-decoration: none;
}

.btn-submit {
    float: right;
}

.btn-small {
    margin-top: 20px;
    padding: 5px;
    font-size: 12px;
    border-radius: 0;
}

.btn-disabled {
    cursor: not-allowed;
    background-color: rgb(229, 229, 229) !important;
}

.preview-json {
    background-color: #ecf0f1;
    overflow: scroll
}

.progress-percentage {
    float: right;
    border-radius: 25px;
    border: 2px solid #dc3133;
    padding: 10px;
}

.nav {
    position: absolute;
    top: 20px;
    right: 50px;
}

.nav a,
.nav span {
    margin: 10px;
    border-radius: 25px;
    border: 2px solid #dc3133;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav span,
.nav a:hover {
    color: white;
    background: #dc3133;
}

p.note {
    color: #7f8c8d;
    font-size: 0.9rem;
}

p.warning {
    color: #EE5A24
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #dc3133;
    color: white;
}

td a {
    color: inherit;
    text-decoration: none;
}

.error-box,
.info-box {
    padding: 15px;
    display: block;
}

.error-box {
    color: #c7254e;
    background-color: #f9f2f4
}

.info-box {
    background-color: #6cb0de;
    color: #0c1721;
}

.previous {
    padding: 15px;
    margin-bottom: 15px;
}

.canvas-container {
    max-width: 70%;
}

.clickable {
    cursor: pointer
}

.file-selected {
    color: #14773d;
    margin-left: 8px;
}

.group-upload {
    display: block;
    margin-bottom: 1em;
}

.group-upload * {
    display: inline-block
}

.list-action a {
    width: 30%;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    font-size: 2em;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: #dc3133;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media (max-width: 770px) {
    .nav {
        position: relative;
        display: grid;
        padding: 50px;
    }
    .canvas-container {
        max-width: 90%;
    }
    body {
        padding: 5px
    }
}

.btn-little {
    padding: 5px 8px;
    font-size: inherit;
}

@media (max-width: 770px) {
    .list-action a {
        width: 80%;
        height: 150px;
    }
}

@font-face {
    font-family: 'font';
    src: url('/font/admin-font.eot?70528364');
    src: url('/font/admin-font.eot?70528364#iefix') format('embedded-opentype'), url('/font/admin-font.woff2?70528364') format('woff2'), url('/font/admin-font.woff?70528364') format('woff'), url('/font/admin-font.ttf?70528364') format('truetype'), url('/font/admin-font.svg?70528364#font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "font";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    font-size: 120%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: '\e800';
}

.icon-print:before {
    content: '\e801';
}

.icon-users:before {
    content: '\e802';
}

.icon-trash:before {
    content: '\e803';
}

.icon-reload:before {
    content: '\e804';
}

.icon-home:before {
    content: '\e805';
}

.icon-power:before {
    content: '\e806';
}

.icon-upload:before {
    content: '\e807';
}