<!DOCTYPE html>
<html>
  <head>
    <title><%= status %></title>
    <style>body{padding:50px;font:14px "Lucida Grande", Helvetica, Arial, sans-serif}</style>
  </head>
  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>
