<!DOCTYPE html>
<html>
  <head>
    <title>Garage Doors Opener Clock | Liste des utilisateurs</title>
    <link rel='stylesheet' href='/stylesheets/admin-styles.min.css' />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Garage Doors Opener Clock</h1>
    <p>Liste des utilisateurs, vous pouvez en créer un <a href="/users/new">ici</a>.</p>
    <table>
      <tr>
        <th>Courriels</th>
        <th>Actions</th>
      </tr>
      <% for(var i=0; i<users.length; i++) {%>
        <tr>
          <td><%= users[i].email %></td>
          <td>
            <a class="icon-pencil" href="/users/update/<%= users[i].email %>"></a>
            <a class="icon-trash" href="/users/delete/<%= users[i].email %>"></a>
          </td>
        </tr>
      <% } %>
    </table>
    <p class="nav">
      <a href="/"><i class="icon-home"></i>Accueil</a>
      <span><i class="icon-users"></i> Liste des utilisateurs</span>
      <a href="/logout"><i class="icon-power"></i> Se déconnecter</a>
    </p>
  </body>
</html>
